/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tree.css ===================================================
  == Styles used by the XUL outline element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tree ::::: */

tree {
  margin: 0 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
  -moz-appearance: listbox;
}

/* ::::: tree focusring ::::: */

.focusring > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid transparent;
}

.focusring:-moz-focusring > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid #000000;
}


/* ::::: tree rows ::::: */

treechildren::-moz-tree-row {
  border: 1px solid transparent;
  min-height: 18px;
  height: 1.3em;
}

treechildren::-moz-tree-row(selected) {
  background-color: -moz-cellhighlight;
}

treechildren::-moz-tree-row(selected, focus) {
  background-color: Highlight;
}

treechildren::-moz-tree-row(current, focus) {
  border: 1px dotted Highlight;
}

treechildren::-moz-tree-row(selected, current, focus) {
  border: 1px dotted #F3D982;
}

tree[seltype="cell"] > treechildren::-moz-tree-row,
tree[seltype="text"] > treechildren::-moz-tree-row {
  border: none;
  background-color: transparent;
  background-image: none;
}

/* ::::: tree cells ::::: */

treechildren::-moz-tree-cell {
  padding: 0 2px;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell-text,
tree[seltype="text"] > treechildren::-moz-tree-cell-text,
treechildren::-moz-tree-cell-text {
  color: inherit;
}

treechildren::-moz-tree-cell-text(selected) {
  color: -moz-cellhighlighttext;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell {
  border: 1px solid transparent;
  padding: 0px 1px 0px 1px;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text {
  border: 1px solid transparent;
  padding: 0px 1px 1px 1px;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected) {
  background-color: -moz-cellhighlight;
}
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected) {
  color: -moz-cellhighlighttext;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected) {
  background-color: -moz-cellhighlight;
  color: -moz-cellhighlighttext;
}

treechildren::-moz-tree-cell-text(selected, focus) {
  color: HighlightText;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, focus) {
  background-color: Highlight;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  background-color: Highlight;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  color: HighlightText;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  color: HighlightText;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, current, focus) {
  border: 1px dotted #000000;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, current, focus) {
  border: 1px dotted #000000;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, current, focus) {
  border: 1px dotted #C0C0C0;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, current, focus) {
  border: 1px dotted #C0C0C0;
}

/* ::::: lines connecting cells ::::: */

tree[seltype="cell"] > treechildren::-moz-tree-line,
tree[seltype="text"] > treechildren::-moz-tree-line,
treechildren::-moz-tree-line {
  border: 1px dotted ThreeDShadow;
}

tree[seltype="cell"] > treechildren::-moz-tree-line(active, selected, focus),
treechildren::-moz-tree-line(selected, focus) {
  border: 1px dotted HighlightText;
}

/* ::::: tree separator ::::: */

treechildren::-moz-tree-separator {
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}


/* ::::: drop feedback ::::: */

treechildren::-moz-tree-row(dropOn) {
  background-color: Highlight;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell-text(primary, dropOn),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(primary, dropOn),
treechildren::-moz-tree-cell-text(primary, dropOn) {
  color: HighlightText;
}

treechildren::-moz-tree-drop-feedback {
  background-color: Highlight;
  width: 50px;
  height: 2px;
  margin-inline-start: 5px;
}

/* ::::: tree columns ::::: */

treecol,
treecolpicker {
  -moz-appearance: treeheadercell;
  -moz-box-align: center;
  -moz-box-pack: center;
  color: -moz-DialogText;
  padding: 0 4px;
}

.treecol-image {
  padding: 0 1px;
}

.treecol-text {
  margin: 0 !important;
}

treecol[hideheader="true"] {
  -moz-appearance: none;
  border: none;
  padding: 0;
}

/* ..... internal box ..... */

treecol:hover:active,
treecolpicker:hover:active {
  padding-top: 1px;
  padding-bottom: 0;
  padding-inline-start: 5px;
  padding-inline-end: 3px;
}

.treecol-image:hover:active {
  padding-top: 1px;
  padding-bottom: 0;
  padding-inline-start: 2px;
  padding-inline-end: 0;
}

/* ::::: column drag and drop styles ::::: */

treecol[dragging="true"] {
  color: GrayText;
}

treechildren::-moz-tree-column(insertbefore) {
  border-inline-start: 1px solid ThreeDShadow;
}

treechildren::-moz-tree-column(insertafter) {
  border-inline-end: 1px solid ThreeDShadow;
}

/* ::::: sort direction indicator :::::  */

.treecol-sortdirection {
  list-style-image: none;
}

treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global/skin/tree/sort-asc.png");
}

treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global/skin/tree/sort-dsc.png");
}

@media (-moz-windows-classic) {
  treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="ascending"] {
    list-style-image: url("chrome://global/skin/tree/sort-asc-classic.png");
  }

  treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="descending"] {
    list-style-image: url("chrome://global/skin/tree/sort-dsc-classic.png");
  }
}

/* ::::: column picker :::::  */

.tree-columnpicker-icon {
  list-style-image: url("chrome://global/skin/tree/columnpicker.gif");
}

/* ::::: twisty :::::  */

treechildren::-moz-tree-twisty {
  padding-inline-end: 1px;
  padding-top: 1px;
  width: 9px; /* The image's width is 9 pixels */
  list-style-image: url("chrome://global/skin/tree/twisty-collapsed.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: #b6b6b6;
  fill-opacity: 1;
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(close) {
  list-style-image: url("chrome://global/skin/tree/twisty-collapsed-rtl.svg");
}

treechildren::-moz-tree-twisty(open) {
  list-style-image: url("chrome://global/skin/tree/twisty-expanded.svg");
  fill: #636363;
}

treechildren::-moz-tree-twisty(hover) {
  fill: #4ed0f9;
}

treechildren::-moz-tree-indentation {
  width: 12px;
}

/* ::::: editable tree ::::: */

treechildren::-moz-tree-row(selected, editing) {
  background-color: transparent;
  border: none;
}

treechildren::-moz-tree-cell-text(selected, editing) {
  color: inherit;
}

treechildren::-moz-tree-cell(active, selected, focus, editing),
tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, focus, editing),
tree[seltype="text"] > treechildren::-moz-tree-cell(active, selected, focus, editing) {
  background-color: transparent;
  border: none;
}

treechildren::-moz-tree-cell-text(active, selected, editing) {
  opacity: 0;
}

.tree-input {
  -moz-appearance: none;
  border: 1px solid Highlight;
  margin: 0;
  margin-inline-start: -4px;
  padding: 1px;
}

%ifdef XP_WIN
@media (-moz-windows-default-theme) {
  treechildren {
    --treechildren-outline: none;
    --treechildren-focusColor: rgb(123,195,255);
    --treechildren-selectedFocusColor: rgb(205,232,255);
    --treechildren-currentColor: rgb(125,162,206);
    --treechildren-hoverColor: rgb(229,243,255);
    --treechildren-selectedBorder: rgb(217,217,217);
    --treechildren-selectedBackground: rgb(217,217,217);
    --treechildren-currentFocusBorder: var(--treechildren-focusColor);
    --treechildren-selectedFocusBorder: var(--treechildren-selectedFocusColor) var(--treechildren-selectedFocusColor) rgb(165,214,255);
    --treechildren-selectedFocusBackground: var(--treechildren-selectedFocusColor);
    --treechildren-selectedFocusCurrentBorder: var(--treechildren-focusColor);
    --treechildren-selectedFocusCurrentBackground: rgb(205,232,255);
    --treechildren-hoverBorder: var(--treechildren-hoverColor);
    --treechildren-hoverBackground: rgb(229,243,255);
    --treechildren-hoverCurrentBorder: var(--treechildren-currentColor);
    --treechildren-hoverCurrentBackground: rgba(131,183,249,.16);
    --treechildren-hoverSelectedBorder: var(--treechildren-focusColor);
    --treechildren-hoverSelectedBackground: rgb(205,232,255);
  }

  treechildren::-moz-tree-row {
    height: 1.8em;
    color: -moz-FieldText;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
    border-width: 1px;
    border-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  treechildren::-moz-tree-row(selected) {
    border-color: var(--treechildren-selectedBorder);
    background-color: var(--treechildren-selectedBackground);
    outline: var(--treechildren-outline);
  }

  treechildren::-moz-tree-row(current, focus) {
    border-style: solid;
    border-color: var(--treechildren-currentFocusBorder);
    outline: var(--treechildren-outline);
  }

  treechildren::-moz-tree-row(selected, focus),
  treechildren::-moz-tree-row(dropOn) {
    border-color: var(--treechildren-selectedFocusBorder);
    background-color: var(--treechildren-selectedFocusBackground);
  }

  treechildren::-moz-tree-row(selected, current, focus) {
    border-style: solid;
    border-color: var(--treechildren-selectedFocusCurrentBorder);
    background-color: var(--treechildren-selectedFocusCurrentBackground);
  }

  treechildren::-moz-tree-row(hover) {
    border-color: var(--treechildren-hoverBorder);
    background-color: var(--treechildren-hoverBackground);
    outline: var(--treechildren-outline);
  }

  treechildren::-moz-tree-row(hover, current) {
    border-color: var(--treechildren-hoverCurrentBorder);
    background-image: var(--treechildren-hoverCurrentBackground);
  }

  treechildren::-moz-tree-row(hover, selected) {
    border-color: var(--treechildren-hoverSelectedBorder);
    background-color: var(--treechildren-hoverSelectedBackground);
  }

  tree[disabled="true"] > treechildren::-moz-tree-row {
    background: none;
    border-color: transparent;
  }

  treechildren::-moz-tree-cell(dropOn) {
    background-image: none;
    background-color: transparent;
    border-radius: 0;
  }

  treechildren::-moz-tree-cell-text(primary, dropOn) {
    color: -moz-FieldText;
  }

  treechildren::-moz-tree-cell-text {
    padding-bottom: initial;
    border-color: transparent;
    background-color: transparent;
  }

  treechildren::-moz-tree-cell-text(selected, focus) {
    color: -moz-DialogText;
  }

  @media (-moz-os-version: windows-win7),
         (-moz-os-version: windows-win8) {
    treechildren {
      --treechildren-2ndBorderColor: rgba(255,255,255,.4);
      --treechildren-outline: 1px solid var(--treechildren-2ndBorderColor);
      --treechildren-selectedBackground: rgba(190,190,190,.4);
      --treechildren-currentFocusBorder: var(--treechildren-currentColor);
      --treechildren-selectedFocusBorder: rgb(132,172,221) var(--treechildren-2ndBorderColor) var(--treechildren-currentColor);
      --treechildren-selectedFocusBackground: rgba(131,183,249,.375);
      --treechildren-selectedFocusCurrentBorder: var(--treechildren-currentColor);
      --treechildren-selectedFocusCurrentBackground: rgba(131,183,249,.5);
      --treechildren-hoverBorder: rgb(184,214,251);
      --treechildren-hoverBackground: rgba(131,183,249,.16);
      --treechildren-hoverSelectedBorder: var(--treechildren-currentColor);
      --treechildren-hoverSelectedBackground: rgba(131,183,249,.5);
    }
  }

  @media (-moz-os-version: windows-win7) {
    treechildren::-moz-tree-row(selected),
    treechildren::-moz-tree-row(dropOn),
    treechildren::-moz-tree-row(hover) {
      background-image: linear-gradient(rgba(255,255,255,.7), transparent);
    }

    treechildren::-moz-tree-row {
      border-radius: 3px;
      -moz-outline-radius: 3px;
    }
  }
}
%endif
