%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif

#editBookmarkPanel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

html|img#editBookmarkPanelFavicon[src] {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
  padding: 5px;
  background-color: #F9F9FA;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  border-radius: 6px;
  position: relative;
  margin-top: 10px;
  margin-inline-start: 10px;
  margin-bottom: -52px; /* margin-top + paddings + height */
}

#editBookmarkPanelImage {
  border-bottom: 1px solid var(--panel-separator-color);
  height: 150px;
  background-image: -moz-element(#editBookmarkPanelImageCanvas);
  background-repeat: no-repeat;
  background-size: cover;
}

#editBookmarkPanelRows {
  padding: var(--arrowpanel-padding);
}

/* Implements editBookmarkPanel resizing on folderTree un-collapse. */
#editBMPanel_folderTree {
  min-width: 27em;
}

#editBookmarkPanelBottomButtons {
  display: flex;
}

.editBookmarkPanelBottomButton {
  flex: 1;
  -moz-appearance: none;
  margin: 0;
  padding: .8em;
  color: inherit;
  background-color: var(--arrowpanel-dimmed);
  border-top: 1px solid var(--panel-separator-color);
}

.editBookmarkPanelBottomButton:not(:last-child) {
  border-inline-end: 1px solid var(--panel-separator-color);
}

.editBookmarkPanelBottomButton:hover {
  background-color: var(--arrowpanel-dimmed-further);
}

.editBookmarkPanelBottomButton:hover:active {
  background-color: var(--arrowpanel-dimmed-even-further);
}

.editBookmarkPanelBottomButton[default] {
  color: white;
  background-color: #0996f8;
}

.editBookmarkPanelBottomButton[default]:hover {
  background-color: #0675d3;
}

.editBookmarkPanelBottomButton[default]:hover:active {
  background-color: #0568ba;
}
